* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #0d0d0d;
    color: #e0e0e0;
    line-height: 1.7;
}


/* navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 40px;
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(8px);
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

nav .logo {
    font-size: 1.8rem;
    font-weight: 600;
    color: #a855f7;
}

#Funfact{
    border-left:5px solid #b56bff;
    padding:20px 28px;
    background:#0a0a0a;
    font-family:'Poppins', sans-serif;
    color:#e8d9ff;
    max-width:520px;
}
nav ul {
    display: flex;
    gap: 25px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #e0e0e0;
    font-size: 1rem;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #a855f7;
}

/* hero */
.hero {
    text-align: center;
    padding: 140px 20px;
}

.hero h1 {
    font-size: 3.2rem;
    font-weight: 600;
}

.hero h1 span {
    color: #a855f7;
    text-shadow: 0 0 8px #a855f7;
}

.hero p {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #cfcfcf;
}

.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 28px;
    background: #a855f7;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
    box-shadow: 0 0 10px #a855f7;
}

.btn:hover {
    background: #c084fc;
    box-shadow: 0 0 15px #c084fc;
}

/* all sections */
section {
    padding: 70px 20px;
    max-width: 900px;
    margin: auto;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #a855f7;
}

/* skills section*/
.skill-box {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.skill-box span {
    background: rgba(168, 85, 247, 0.2);
    padding: 10px 18px;
    border-radius: 25px;
    border: 1px solid rgba(168, 85, 247, 0.4);
    color: #e8d5ff;
}

/* Project section */
.project-card {
    background: rgba(255,255,255,0.05);
    padding: 20px;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255,0.1);
    margin-bottom: 25px;
}

.project-card a {
    display: inline-block;
    margin-top: 10px;
    color: #c084fc;
    font-weight: bold;
    text-decoration: none;
}

/* Contact Section */
#contact {
  background: #000;
  padding: 60px 20px;
  text-align: center;
  color: white;
  font-family: 'Poppins', sans-serif;
}

#contact h2 {
  font-size: 36px;
  color: #b26bff;
  margin-bottom: 40px;
}

.contact-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.contact-box {
  width: 260px;
  padding: 25px;
  background: rgba(255, 255, 255, 0.05);
  border: 2px solid #b26bff;
  border-radius: 15px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.contact-box i {
  font-size: 40px;
  margin-bottom: 10px;
  color: #b26bff;
}

.contact-box span {
  font-size: 20px;
  font-weight: 600;
}

.contact-box p {
  margin-top: 8px;
  font-size: 14px;
  color: #dcdcdc;
}

.contact-box:hover {
  transform: translateY(-8px);
  border-color: #d8b4ff;
  box-shadow: 0 0 20px rgba(178, 107, 255, 0.6);
}


/* footer */
footer {
    text-align: center;
    padding: 30px;
    margin-top: 40px;
    color: #777;
}
